@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: -30px;
}
.left-slide p {
  font-size: 20px;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #0f5472;
  border: none;
  color: #0fff00;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sobre {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 50px;
  margin: auto;
  top: 8%;
  position: absolute;
  font-size: 27px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.analise {
  color: #0fff00;
}

.maissobre{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-right: 40px;
  margin: auto;
  font-size: 18px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);

}

.maissobre2{
  color: #0fff00;
}

.disciplina{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-bottom: 15px;
  margin: auto;
  font-size: 20px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);
}
.paragrafodisciplina{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-right:40px ;
  padding-bottom: 18px;
  margin: auto;
  font-size: 18px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.humildade{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-bottom: 15px;
  margin: auto;
  font-size: 20px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);

}


.paragrafohumildade{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-right:40px ;
  padding-bottom: 15px;
  margin: auto;
  font-size: 18px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);

}

.autoresponsabilidade{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-bottom: 15px;
  margin: auto;
  font-size: 20px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);
}


.paragraautores{
box-sizing: border-box;  
  padding-left: 60px;
  padding-right:40px ;
  margin: auto;
  font-size: 18px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

@media screen and (max-width: 768px){
* {
    max-width: 768px;
  }
  .left-slide h1 {
    box-sizing: border-box;
    font-size: 45px;
    text-align: center;

    margin-top: 30px;
  }

  .left-slide p {
    margin-bottom: 250px;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }

  .sobre {
    margin-left: 20px;
    font-size: 33px;
    text-align: center;
    top: 8%;
  }

}




@media screen and (max-width: 412px){

* {
    max-width: 412px;
  }
  .left-slide h1 {
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;

    margin-top: 30px;
  }

  .left-slide p {
    margin-bottom: 250px;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }

  .sobre {
    margin-left: 0px;
    font-size: 23px;
    text-align: center;
    top: 10%;
  }


}



@media screen and (max-width: 320px) {
  * {
    max-width: 320px;
  }
  .left-slide h1 {
    box-sizing: border-box;
    font-size: 19px;
    text-align: center;

    margin-top: 30px;
  }

  .left-slide p {
    margin-bottom: 250px;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }

  .sobre {
    font-size: 16px;
    text-align: center;
    top: 5%;
  }
}
