@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: -30px;
}
.left-slide p {
  font-size: 20px;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.right-slide {
  
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide  div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
.overflow{
  overflow-y: scroll;
}
.overflow1{
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 50px;  
  top: 8%; 
  font-size: 27px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}
.overflow2{
  overflow-y: scroll;
}
.overflow3{
 
  overflow-y: scroll;
}

button {
  background-color: #0f5472;
  border: none;
  color: #0fff00;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sobre {

  padding-top: 100px;
  padding-left: 70px;
  padding-right: 50px;
  
  top: 8%;
 
  font-size: 27px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.analise {
  
  color: #0fff00;
}

.analise1 {
  padding-right: 50px;
  padding-top: 70px;
  text-align: center;
  color: #0fff00;
}
.data{
  color: rgb(233, 137, 13);
}
.maissobre{
  
  box-sizing: border-box;  
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-right: 40px;
  margin: auto;
  font-size: 22px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);

}

.maissobre2{
  color: #0fff00;
  font-size: 30px;
}

.disciplina{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-bottom: 15px;
  margin: auto;
  font-size: 30px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);
}
.paragrafodisciplina{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-right:40px ;
  padding-bottom: 18px;
  margin: auto;
  font-size: 22px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.humildade{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-bottom: 15px;
  margin: auto;
  font-size: 30px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);

}


.paragrafohumildade{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-right:40px ;
  padding-bottom: 15px;
  margin: auto;
  font-size: 22px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);

}

.autoresponsabilidade{
  box-sizing: border-box;  
  padding-left: 60px;
  padding-bottom: 15px;
  margin: auto;
  font-size: 30px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);
}


.paragraautores{
  padding-bottom: 60px;
box-sizing: border-box;  
  padding-left: 60px;
  padding-right:40px ;
  margin: auto;
  font-size: 22px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  margin-left: 300px;
  margin-top: 200px;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #12257a;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}





@media screen and (max-width: 1440px){

.sobre {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 12px;
  margin: auto;
  top: 3%;
  position: absolute;
  font-size: 25px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.analise {
  color: #0fff00;
}




}




@media screen and (max-width: 768px){
* {
    max-width: 768px;
  }
  .left-slide h1 {
    box-sizing: border-box;
    font-size: 45px;
    text-align: center;

    margin-top: 30px;
  }

  .left-slide p {
    margin-bottom: 250px;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }

  .sobre {
    margin-left: 20px;
    font-size: 33px;
    text-align: center;
    top: 8%;
  }

 .sobre {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 12px;
  margin: auto;
  top: 3%;
  position: absolute;
  font-size: 22px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.analise {
  color: #0fff00;
}

}




@media screen and (max-width: 412px){

* {
    max-width: 412px;
  }
  .left-slide h1 {
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;

    margin-top: 30px;
  }

  .left-slide p {
    margin-bottom: 250px;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }

  .sobre {
    margin-left: 0px;
    font-size: 23px;
    text-align: center;
    top: 10%;
  }

  .sobre {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 10px;
  margin: auto;
  top: 3%;
  position: absolute;
  font-size: 15px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.analise {
  color: #0fff00;
}



}



@media screen and (max-width: 320px) {
  * {
    max-width: 320px;
  }


  .left-slide h1 {
    box-sizing: border-box;
    font-size: 19px;
    text-align: center;

    margin-top: 30px;
  }

  .left-slide p {
    margin-bottom: 250px;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }


.sobre { 
  max-height: 668px;
  padding-left: 13px;
  padding-right: 19px;
  padding-bottom: 5px; 
  padding-top: 2px;
  font-size: 12px;
  text-align: left;
  justify-items: left;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.analise {
  color: #0fff00;
}

.maissobre{
  
  box-sizing: border-box;  
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: auto;
  font-size: 12px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);

}

.maissobre2{
  color: #0fff00;
  font-size: 12px;
}

.disciplina{
  box-sizing: border-box;  
  padding-left: 10px;
  padding-bottom: 5px;
  margin: auto;
  font-size: 13px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);
}
.paragrafodisciplina{
  box-sizing: border-box;  
  padding-left: 10px;
  padding-right:10px ;
  padding-bottom: 5px;
  margin: auto;
  font-size: 12px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.humildade{
  box-sizing: border-box;  
  padding-left: 10px;
  padding-right:10px ;
  padding-bottom: 5px;
  margin: auto;
  font-size: 13px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);

}


.paragrafohumildade{
  box-sizing: border-box;  
  padding-left: 10px;
  padding-right:10px ;
  padding-bottom: 5px;
  margin: auto;
  font-size: 13px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);

}

.autoresponsabilidade{
  box-sizing: border-box;  
  padding-left: 10px;
  padding-right:10px ;
  padding-bottom: 5px;
  margin: auto;
  font-size: 13px;
  text-align: left;
  justify-items: center;
  color: #0fff00;
  text-shadow: 3px 3px rgb(0, 0, 0);
}


.paragraautores{
box-sizing: border-box;  
  padding-left: 10px;
  padding-right:10px ;
  padding-right:10px ;
  padding-bottom: 20px;
  margin: auto;
  font-size: 13px;
  text-align: left;
  justify-items: center;
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}


.overflow1{
  overflow-y: scroll;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;  
  top: 8%; 
  font-size: 13px;
  text-align: left;
  
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.analise1 {
  font-size: 15px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 20px;
  text-align: center;
  color: #0fff00;
}
.data{
  color: rgb(233, 137, 13);
}


img {
  width: 170px;
  height: 150px;
  object-fit: cover;
}

.carousel {
  margin-left: 20px;
 margin-top: 30px;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 185px;
  width: 150px;
  
}

.image-container {
  
  display: flex;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.buttons-container {
  max-width: 150px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #12257a;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}



}
