@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --cor01: #0fff00;
  --cor01: #13e204;
  --cor01: #119e07;
  --cor02: #0fff00;
  --cor03: #3f3f3f;
  --cor04: #e2e2e2;
  --cor04: #9b9b9b;
  --cor04: #ffffff;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
  margin: 0;
}

section {
  display: flex;
  margin: auto;

  padding: 10px;
  width: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  overflow-x: hidden;
}

section.active {
  margin-top: 10px;
  width: 350px;
}
section ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

.textlink a {
  text-decoration: none;
  color: #ffffff;
}

section.active ul {
  width: 100%;
}
section ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

section.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

section ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color: #20212400;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}
/*  
.icon {
  background-color: #20212400;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}
*/

.icon:focus {
  outline: 0;
}
.icon .line {
  background-color: #0fff00;
  height: 3px;
  width: 25px;
  position: absolute;
  top: 10px;
  left: 2px;
  transition: transform 0.6s linear;
}
.icon .line2 {
  top: auto;
  bottom: 10px;
}

li img {
  border: 0px;
}
section.active .icon .line1 {
  transform: rotate(765deg) translateY(5.5px);
}
section.active .icon .line2 {
  transform: rotate(-765deg) translateY(-5.5px);
}

.card {
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  overflow: hidden;
  margin: auto;
  max-width: 400px;
  max-height: 550px;
}

.minhafoto {
  border-radius: 10px;
  max-width: 100%;
}

.container {
  background: linear-gradient(rgba(54, 53, 53, 0.6), rgba(0, 0, 0, 0.6) 150%),
    url(fundo07.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1f2120;
  transform-origin: top left;
  transition: transform 0.5s linear;
  border-radius: 5px;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background: radial-gradient(#0f5472, rgb(29, 108, 30) 120%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}
.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #ffffff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #ffffff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content {
  max-width: 1000px;
  margin: 70px auto;
}

.content h1 {
  margin: auto;
  text-shadow: 2px 2px rgb(0, 0, 0);
  color: #4da2d6;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 50px;
}

input {
  display: none;
}

.content small {
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
  text-shadow: 2px 2px rgb(0, 0, 0);
  color: #13e204;
  font-style: italic;
  font-size: 28px;
}

.content p {
  text-shadow: 2px 2px rgb(0, 0, 0);
  color: #ffffff;
  line-height: 1.5;
  font-size: 17px;
}




@media screen and (max-width: 768px){

* {
    box-sizing: border-box;
    max-width: 768px;
    
  }

  .content h1 {
    padding-left: 40px;
    font-size: 40px;
  }

  .content small {
    padding-left: 40px;
    font-size: 20px;
  }

  section.active {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;

    width: 300px;
  }

  li img {
    border: 0px;
    width: 40px;
    height: 40px;
  }
nav {
 
 margin-top: 320px;
  top:0;

  
}

}



@media screen and (max-width: 492px){
* {
  box-sizing: border-box;
    max-width: 492px;
  }

  .content h1 {
    font-size: 37px;
  }

  .content small {
    font-size: 23px;
  }

  section.active {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;

    width: 300px;
  }

  li img {
    border: 0px;
    width: 40px;
    height: 40px;
  }
}





@media screen and (max-width: 412px) {
  * {
    box-sizing: border-box;
    max-width: 412px;
  }

  .content h1 {
    margin-bottom: 0px;
    margin-right: 12px;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 35px;
  }

  .content small {
    
    font-size: 20px;
    margin-left: 0px;
  }

  section.active {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;

    width: 300px;
  }

  li img {
    border: 0px;
    width: 40px;
    height: 40px;
  }
nav {
 
 margin-top: 650px;
  top:0;

  
}


}

@media screen and (max-width: 380px) {
  * {
    box-sizing: border-box;
    max-width: 380px;
    max-height: 568px;
  }

  body{
  box-sizing: border-box;
  max-height: 568px;
}

  .content h1 {
    margin-bottom: 0px;
    margin-right: 12px;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 28px;
  }

  .content small {
    
    font-size: 15px;
    margin-left: 0px;
  }

  section.active {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 80px;

    width: 270px;
  }

  li img {
    border: 0px;
    width: 30px;
    height: 30px;
  }
nav {
 
 margin-top: 350px;
  top:0;

  
}

}

@media screen and (max-width: 320px) {
  * {
    box-sizing: border-box;
    max-width: 320px;
    max-height: 568px;
  }
body{
  box-sizing: border-box;
  max-height: 568px;
}
  .content h1 {
    margin-bottom: 0px;
    margin-right: 12px;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 25px;
  }

  .content small {
    
    font-size: 13px;
    margin-left: 0px;
  }

  section.active {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 50px;

    width: 210px;
  }

  li img {
    border: 0px;
    width: 23px;
    height: 23px;
  }


nav {
 
 margin-top: 350px;
  top:0;

}
}